  <div class="row">
    <div class="col p-5 m-5">
      <div id="future">
        <h1 class="mt-5 pt-5">Welcome to the Future</h1>
        <%= link_to 'Present', root_path, class: "btn btn-primary" %>
        <%= link_to 'Past', home_past_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>