  <div class="row">
    <div class="col p-5 m-5">
      <h1 class="mt-5 pt-5">Welcome to the Past</h1>
      <%= link_to 'Present', root_path, class: "btn btn-primary" %>
      <%= link_to 'Future', home_future_path, class: "btn btn-primary" %>
    </div>
  </div>